<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tpcstld.twozerogame.base"
    android:targetSandboxVersion="2">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_2048"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.tpcstld.twozerogame.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="http"
                    android:host="tpcstld.me"
                    android:path="/2048" />
            </intent-filter>
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="https"
                    android:host="tpcstld.me"
                    android:path="/2048" />
            </intent-filter>

            <meta-data
                android:name="default-url"
                android:value="http://tpcstld.me/2048" />
        </activity>

        <meta-data android:name="com.google.android.gms.games.APP_ID"
            android:value="@string/app_id"/>
    </application>

</manifest>
